<%- include('./partials/header') %>
<h1 class="main"><%= title %></h1>
<body class="main-page"><body>

<h2 class="second-part">"Museums are wormholes to other worlds."-Jerry Saltz"
  </h2>

  <div class="topnav">
    
    
    <% if(user) { %> 
    <!-- <div class="topnav-left">
      <a href="/museums/new" <%- title === 'Add Museums' ? 'class="active"' : '' %>>ADD</a>
    </div> -->

    <div><a href="/museums" <%- title === 'All Museums' ? 'class="active"' : '' %>>ENTER</a></div>

    <!-- <div><a href="/tours/new"	<%- title === 'Add Tour' ? 'class="active"' : '' %>> RESERVE TOUR</a></div> -->

    <!-- <div><a href="/logout">LOG OUT</a></div> -->

    <% } else { %>
      <a href="/auth/google" class="login">ENTER&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
      <% } %>
   </div>

<%- include('./partials/footer') %>
