<%- include('../partials/header') %>

<nav class="topnav">
<!-- <div><a href="/">HOME</a> -->
<% if(user) { %> 
    <a href="/museums/new" <%- title === 'Add Museums' ? 'class="active"' : '' %><br>Add A New Museum Recommendation<br></a>
  <!-- </div> -->
<a href="/logout">LOG OUT</a>

  <% } else { %>
    <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    <% } %>
 </div>
</nav>




<table id="list">
<div class="information">
  <% museums.forEach(function(m) { %>
    <tr>
      <td class="information"><a href="/museums/<%= m._id %>">Click for more Information</a></td>
      <td><%= m.title %></td>
      <td><%= m.location %></td>
      <!-- <td><%= m.openingTime %></td>
      <td><%= m.closingTime %></td>
      <td><%= m.currentExhibit %></td>
       -->
     
    </tr>
    <% }); %>
 
</div>
 </table>

<%- include('../partials/footer') %>

