<%- include('../partials/header') %>





<div class>
  <% museums.forEach(function(m) { %>
    <tr>
      <td><%= m.title %></td>
      <td><%= m.location %></td>
      <td><%= m.openingTime %></td>
      <td><%= m.closingTime %></td>
      <td><%= m.currentExhibit %></td>
      <td><a href="/museums<%= m._id %>">DETAILS</a></td>
    </tr>
    <% }); %>
 
</div>
 

<%- include('../partials/footer') %>

