<%- include('../partials/header') %>

<body class="new-page"></body>

<nav class="navbar">
<!-- <div><a href="/">HOME</a> -->
<% if(user) { %> 
    <a href="/museums/new" <%- title === 'Add Museums' ? 'class="active"' : '' %><br>Add A New Museum Recommendation<br></a>
  <!-- </div> -->
<a href="/logout">LOG OUT</a>

  <% } else { %>
    <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    <% } %>
  </nav>

<h1 id="table">Museum Directory</h1>

<table id="list">
 

    <% museums.forEach(function(m) { %>
  <tr>
      <th>Name:</th>
      <th>Location:</th>
      <th>More Information:</th>
    </tr>

    <tr>
      <td><%= m.title %></td>
      <td><%= m.location %></td>
      <td class="information"><a href="/museums/<%= m._id %>" style="color:white">Details</a></th>
    </td>
  <% }); %>
 </table>

<%- include('../partials/footer') %>

