<%- include('../partials/header') %>





<div class="information">
  <% museums.forEach(function(m) { %>
    <tr>
      <td class="information"><a href="/museums/<%= m._id %>">Museum Information</a></td>
      <td><%= m.title %></td>
      <td><%= m.location %></td>
      <!-- <td><%= m.openingTime %></td>
      <td><%= m.closingTime %></td>
      <td><%= m.currentExhibit %></td>
       -->
    </tr>
    <% }); %>
 
</div>
 

<%- include('../partials/footer') %>

