<%- include('../partials/header') %>

<header ><a href="/museums" style="color:white">BACK TO DIRECTORY</a></header>
<br><br>

<body class="show-page"></body>
<table id="show-list">
  <tr>
    <th>Name:</th>
    <th>Location:</th>
  </tr>
  <tr>
    
    <td style="color:white"><%= museum.title %></td>
    <td style="color:white"><%= museum.location %></td>
  </tr>
  </table>
  
  <!-- ----DELETE--- -->
  <form id="delete-list" action="/museums/<%= museum._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
  </form>
</section>


<section>
<h2 style="color:white">Reviews</h2>
<% if (user) { %>
  <form id="add-review-form" method="POST" action="/museums/<%= museum._id %>/reviews">
    <label style="color:white">Review:</label>
    <textarea name="content"></textarea>
    <input type="submit" value="Add Review">
  </form>
  <% } %>
  
  <% if (museum.reviews.length) { %>
    <table>
      <thead>
        <tr>
          <th style="color:white">Date</th>
          <th style="color:white">Add a Review</th>
        </tr>
      </thead>
      <tbody>
        <% museum.reviews.forEach(function(r) { %>
          <td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><%= r.userName %></td>
          <tr>
            <td><%= r.createdAt.toLocaleDateString() %></td>
            <td><%= r.content %></td>
            <td>
              <% if (user?._id.equals(r.user)) { %>
                <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                  <button type="submit">X</button>
                </form>
                <% } %>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <% } else { %>
          <h5>No Reviews Yet</h5>
          <% } %>
          

          </section>

  <!-- new tours -->
  
  <form id="add-tour-form" action="/museums/<%= museum._id %>/tours/new" method="POST">
    <label>Tickets:</label>
    <select input type="text" name="ticketNumber">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>  
  </select>
  
    <label>Date:</label>
     <input type="date" id="tour-date" name="date"
     value="2023-06-01"
        min="2023-05-31" max="2420-12-31">
    <label>Time:</label> 
  <select>
    <option value="11">11:00am</option>
    <option value="2">2:00pm</option>
    <option value="3">3:00pm</option>
  </select>
  <button type="submit" value="Add Tour">Reserve Tour</button>
</form>
  
  <% if (tours.length) { %>
  <table>
      <thead>
        <tr>
          <th>Tours</th>
        </tr>
      </thead>
  <% tours.forEach(function(t) { %>
   <thead>
   <tr>
       <td><%= t.ticketNumber %></td>
       <td><%= t.date %></td>
       
       
  </thead>
 <% }); %>
 </tbody>
 <% } %>
</table>

<%- include('../partials/footer') %>