<%- include('../partials/header') %>

<section id="show-page">
  <div>Name:</div>
  <div><%= museum.title %></div>
  <div>Location:</div>
  <div><%= museum.location %></div>
  <div>Current Exhibit:</div>
  <div><%= museum.currentExhibit %></div>
</section>
<%- include('../partials/footer') %>