<%- include('../partials/header') %>

<section id="show-page">
  <div>Name:</div>
  <div><%= museum.title %></div>
  <div>Location:</div>
  <div><%= museum.location %></div>
  <div>Current Exhibit:</div>
  <div><%= museum.currentExhibit %></div>
</section>



<h2>Reviews</h2>
<% if (user) { %>
  <form id="add-review-form" method="POST" action="/museums/<%= museum._id %>/reviews">
    <label>Review:</label>
    <textarea name="content"></textarea>
    <label>Rating:</label>
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input type="submit" value="Add Review">
  </form>
<!-- Add the line below -->
<% } %>

<% if (museum.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
      </tr>
    </thead>
    
<% museum.reviews.forEach(function(r) { %>
<td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><%= r.userName %></td>
<td>
  <% if (user?._id.equals(r.user)) { %>
    <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
      <button type="submit">X</button>
    </form>
  <% } %>
  <% }) %>
</td>

<%- include('../partials/footer') %>