<%- include('../partials/header') %>

<header ><a href="/museums" style="color:white">BACK TO DIRECTORY</a></header>
<br><br>

<body class="show-page"></body>
<table id="show-list">
  <tr>
    <th>Name:</th>
    <th>Location:</th>
  </tr>
  <tr>
    
    <td style="color:white"><%= museum.title %></td>
    <td style="color:white"><%= museum.location %></td>
  </tr>
  </table>
  
  <!-- ----DELETE--- -->
  <form id="delete-list" action="/museums/<%= museum._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
  </form>
</section>

<br>
<br>
<section>
<h2 style=" text-decoration: underline;color:white">Comments</h2>
<% if (user) { %>
  <form id="add-review-form" method="POST" action="/museums/<%= museum._id %>/reviews">
    <!-- <label style="color:white">Review:</label> -->
    <textarea name="content"></textarea>
    <input type="submit" value="Add Comment">
  </form>
  <% } %>
  
  <!-- ---SHOW-REVIEWS--- -->
  <% if (museum.reviews.length) { %>
    <table>
      <tbody>
        <% museum.reviews.forEach(function(r) { %>
          <td><img class="avatr" alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer"  ><%= r.userName %></td>

          <tr>
            <td style="font-family:'Times Roman';color:white"><%= r.createdAt.toLocaleDateString() %></td>
            <td style="font-family:'Times Roman';color:white"><%= r.content %></td>
            
            <td>
              <% if (user?._id.equals(r.user)) { %>
                <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                  <button type="submit">X</button>
                </form>
              </tr>
                <% } %>
            </td>
            <% }); %>
          </tbody>
        </table>
        <% } else { %>
          <h5 style="color:white">No Reviews Yet</h5>
          <% } %>
    </section>

  <!-- new tours -->
  <br><br>
  <h2 style=" text-decoration: underline;color:white">Reserve A Tour</h2>
  <form id="add-tour-form" action="/museums/<%= museum._id %>/tours/new" method="POST">
    <label style="color:white">Tickets:</label>
    <select input type="text" name="ticketNumber">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>  
  </select>
  
    <label style="color:white">Date:</label>
     <input type="date" id="tour-date" name="date"
     value="2023-06-01"
        min="2023-05-31" max="2420-12-31">
    <label style="color:white">Time:</label> 
  <select name="time">
    <option value="11:00am">11:00am</option>
    <option value="1:00pm">1:00pm</option>
    <option value="3:00pm">3:00pm</option>
  
  </select>
  <button type="submit" value="Add Tour">Reserve Tour</button>
</form>
  
<br>
<table id ="tours-list">
  <% if (tours.length) { %>
    <h4 style="color:white">Current Reservations:</h4>
      <tr>
          <th>Tickets</th>
          <th>Date</th>
          <th>Time</th>
        </tr>
  <% tours.forEach(function(t) { %>
 
   <tr>
       <td style="color:white">Ticket:<%= t.ticketNumber %></td>
       <td style="color:white">Time:<%= t.time %></td>
       <td style="color:white">Date:<%= t.date.toLocaleDateString() %></td>
   </tr>
  <% }); %>
 
 <% } %>
</table>

<%- include('../partials/footer') %>